* {
  margin: 0;
  padding: 0;

  /* COLOR THEMES */

  --main-nav-clr: hsl(251, 19%, 29%);
  --sub-nav-clr: hsl(251, 19%, 25%);
  --bg-clr: hsl(38, 24%, 93%);
  --product-bg-clr: hsl(38, 24%, 99%);
  --header-text-clr: hsl(19, 84%, 45%);
  --text-clr: hsl(30, 11%, 4%);
  --separator-clr: hsl(23, 93%, 26%);

  /* GAPS */
  --category-gap: 2rem 1rem;

  /* COMPONENT SIZES */
  --header-main-height: 65px;
  --header-sub-height: 40px;
  
  /* SIZING */
}

input {
  margin-right: 0.3rem;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg-clr);
}

.body {
  display: flex;
  align-items: flex-start;
  padding: 0;
}

.content {
  /* height: calc(100vh - 125px); */
  display: flex;
  flex-direction: column;
  flex: 1;
}
