* {
  margin: 0;
  padding: 0;

  --category-gap: 2rem 1rem;
  --header-main-height: 65px;
  --header-sub-height: 40px;
}

input {
  margin-right: 0.3rem;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: #fafafa;
}

.body {
  display: flex;
  align-items: flex-start;
  padding: 0;
}

.content {
  /* height: calc(100vh - 125px); */
  display: flex;
  flex-direction: column;
  flex: 1;
}
