.typehead-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  position: relative;
  --typehead-height: 30px;
  --typehead-width: 600px;
}

.typehead-input-wrapper {
  display: flex;
  overflow: hidden;
  width: var(--typehead-width);
}

.typehead-input {
  padding-left: 10px;
  flex: 1;
  border: none;
}

.typehead-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--typehead-height);
  width: var(--typehead-height);
  background-color: var(--bg-clr);
  color: var(--text-clr);
}

.typehead-suggestions {
  background-color: #fff;
  color: black;
  position: absolute;
  top: var(--typehead-height);
  width: var(--typehead-width);
  padding-left: 15px;
  border: solid 1px gray;
  max-height: 300px;
  overflow: scroll;
}

.typehead-option {
  border: solid 1px red;
}

.typehead-option:hover {
  border: solid 2px black !important;
}
