.home__container {
  width: 400px;
  z-index: 10;
}

.home__product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* padding: 1rem 2rem; */
  padding: 1rem 1rem;
  height: 320px;
  background-color: white;
  z-index: 1;
  border-radius: 15px;
  cursor: pointer;
}

.category__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 320px;
  border-bottom: solid 2px var(--sub-nav-clr);
  padding-bottom: 1rem;
  color: var(--text-clr);
}

.category__product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 10px 20px;
  width: 100%;
  height: 360px;
  background-color: var(--product-bg-clr);
  z-index: 1;
  border-radius: 15px;
  /* border: 1px solid var(--sub-nav-clr); */
  cursor: pointer;
}

.product-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100px;
}

.product-name {
  text-align: start;
}

.product__rating {
  display: flex;
}

.product__price {
  margin-top: 5px;
}

.product-img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
}

.product-img-wrapper > img {
  height: 100%;
  width: 100%;
}
