.pagination__filter {
  border: solid 1px blue;
}

.category__filtered {
  border: solid 1px red;
  /* height: calc(100vh - (var(--header-main-height) + var(--header-sub-height))); */
}

.category__filtered__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--category-gap);
}

.filtered-item-container {
  border: solid 2px blue;
  margin: 0;
  padding: 0;
}
