.spinner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  font-size: 7em;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.spinner {
  animation: spin 1.5s linear infinite;
  color: var(--filter-bdr-clr);
}
