.product-page-container {
  display: flex;
  flex-direction: column;
}

.navigation {
  display: flex;
  padding-left: 40px;
}

.item-containeer {
  display: flex;
  justify-content: center;
  height: 500px;
  padding-bottom: 3rem;
}

.item-img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  border: solid 1px blue;
}

.item-img {
  width: 100%;
  max-height: 100%;
}

.item-info-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  width: 100%;
  max-width: 800px;
  border: solid 1px black;
}

.item-name {
  font-weight: bold;
  font-size: 1.4rem;
}

.item-tag {
  display: flex;
  width: fit-content;
  padding: 0.1em 0.6em;
  margin: 0.6rem 0;
}

.item-quantity-wrapper {
  display: flex;
  justify-content: center;
}

.sample-container {
  padding-bottom: 3rem;
  border: solid 1px red;
}

.sample-title {
  font-weight: bold;
  font-size: var(--fs-600);
  border-top: solid 2px var(--separator-clr);
  padding: 0.5rem 0;
  padding-left: 1rem;
  margin: 0 1.2rem;
}
