.wrapper {
  width: 300px;
  height: 100vh;
  /* position: sticky; */
  /* top: 0; */
  border-left: 2px solid #bebebe;
  /* display: none; */
}

.title {
  font-size: 1.2rem;
  font-weight: bolder;
  padding: 15px 0;
}

.item-wrapper {
  display: flex;
  align-items: center;
  border-bottom: solid 1px #bebebe;
  margin: 0px 8px;
}
.item-info {
  display: flex;
  cursor: pointer;
  padding: 18px 0px;
  align-items: center;
  width: 100%;
}
.item-info > img {
  width: 80px;
  padding: 0 10px;
}

.item-price {
  font-size: 0.9rem;
}
.item-price:hover {
  border-bottom: 1px solid black;
}
.delete-item {
  margin: 0 13px;
  padding: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 0.9em;
  font-weight: bolder;
}
.delete-item:hover {
  color: red;
  transition: 300ms;
}
