.header__main {
  height: var(--header-main-height);
  display: flex;
  align-items: center;
  /* background-color: #505050; */
  background-color: var(--main-nav-clr);
  position: sticky;
  top: 0;
  z-index: 100;
  color: var(--bg-clr);
}

.header__logo {
  width: 15%;
  text-align: center;
  color: white;
  text-decoration: none;
  font-family: "Lobster", cursive;
  font-size: 2.5rem;
}

.header__logo:hover {
  color: var(--nav-hover-clr);
}

.header__optionLineOne {
  font-size: 10px;
}

.header__optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}

.header__optionBasket {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 300ms ease-in-out;
}

.header__optionBasket:hover {
  color: var(--nav-hover-clr);
}

.header__basketCount {
  margin-left: 10px;
  margin-right: 10px;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
  width: 20%;
}

.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
}

.returns-orders:hover {
  color: var(--nav-hover-clr);
  cursor: pointer;
}
