.header__main {
  height: var(--header-main-height);
  display: flex;
  align-items: center;
  /* background-color: #505050; */
  background-color: var(--main-nav-clr);
  position: sticky;
  top: 0;
  z-index: 100;
  color: var(--bg-clr);
}

.header__logo {
  width: 250px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 18px;
  color: white;
}

.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
  justify-content: center;
}

.header__searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
}

.header__searchIcon {
  padding: 5px;
  height: 22px !important;
  background-color: var(--bg-clr);
  color: var(--text-clr);
}

.header__optionLineOne {
  font-size: 10px;
}

.header__optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}

.header__optionBasket {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 300ms ease-in-out;
}

.header__optionBasket:hover {
  color: var(--nav-hover-clr);
}

.header__basketCount {
  margin-left: 10px;
  margin-right: 10px;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
  width: 20%;
}

.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
}
