h3 {
  padding: 0 0 0.6rem 0;
  color: var(--header-text-clr);
}

.filter__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 700px;
  width: 700px;
  gap: 0.8rem 0;
  padding: 0 1rem;
  border-right: 2px solid var(--sub-nav-clr);
  color: var(--separator-clr);
  /* border-right: 2px solid var(--header-text-clr); */
}
